<!-- I want to take up the available horizontal screen real estate for my history table -->
<div class="row-fluid">
  <h3>History</h3>
  <!-- The filtering tools should be above the table in their own space -->
  <div class="row-fluid">
    <!-- The left half should have an input box to filter by -->
    <div class="span6">
      <div class="input-prepend">
        <span class="add-on">Filter:</span>
        <input type="text" 
               placeholder="Type to filter by entity name" 
               data-ng-model=entityNameFilter />
      </div>
    </div>
    <!-- The right half should have some specific actions to show and hide -->
    <div class="span6">
      <!-- Lets use some dynamically generated check boxes to filter based on actions taken -->
      
      <label class="checkbox inline pull-right" 
             data-ng-repeat="item in user.history | unique:'action'">
        <input type="checkbox" 
               id="inlineCheckbox1" 
               value="{{item.action}}" 
               data-ng-model="actions[item.action]"/> 
        {{item.action}}
      </label>
    </div>
  </div>
  <!-- Just a plain old table -->
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <td><input type="checkbox" 
                   data-ng-checked="selecionados.length" 
                   data-ng-click="toggleSelecionarTodos()"/>
        </td>
        <td>Marca</td>
        <td>Ação</td>
        <td>Resultado</td>
        <td>Data</td>
      </tr>
    </thead>
    <tbody>
      <!-- 
        Create a table row for each item in the user's history model 
        Pipe the rows through the checkbox filter, then through the free-text input filter
      -->
      <tr data-ng-class="{selecionado: noarray(item)}" 
          data-ng-repeat="item in user.history | historyActions:actions | filter:entityNameFilter" 
          data-ng-click="">
        <td><input type="checkbox" 
                   data-ng-checked="noarray(item)" 
                   data-ng-click="selecionar(item, $event , $index)"/>
        </td>
        <td><a href='#'>{{item.entityName}}</a></td>
        <td>{{item.action}}</td>
        <td>{{item.result}}</td>
        <td >{{item.timestamp | timeAgo}}</td>
      </tr>
    </tbody>
  </table>
   <a  class="button btn-danger btn-large" href="#"> Voltar </a>
</div>

